# **************************************************************************** #
#                                                                              #
#                                                         :::      ::::::::    #
#    .gitignore                                         :+:      :+:    :+:    #
#                                                     +:+ +:+         +:+      #
#    By: stone </var/spool/mail/stone>              +#+  +:+       +#+         #
#                                                 +#+#+#+#+#+   +#+            #
#    Created: 2021/07/31 01:56:27 by stone             #+#    #+#              #
#    Updated: 2021/07/31 01:56:34 by stone            ###   ########.fr        #
#                                                                              #
# **************************************************************************** #

pipex
*.o